h1 { color:map-get($paleta-colores, "rojo")
text-align: center;}

nav {
   
        li{ @include horizontal-list

         

            }
            a{ text-decoration: none; 
                &:hover{
                    background-color: black;
                    color:map-get($paleta-colores,"azul")
                } }

        }
    
